<small><small><i>
All the IPython Notebooks in **Python Object Class** lecture series by **[Mr. Mounesh Gouda](https://www.linkedin.com/in/mounesh-gouda-858069246/)** are available @ **[GitHub](https://github.com/Mouneshgouda)**
</i></small></small>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("house_rent.csv")

In [3]:
data

   city  type  bhk   rent
0     0     0    1  20000
1     0     0    2  30000
2     0     1    2  40000
3     1     0    3  50000
4     1     0    4  60000
5     1     1    4  70000
6     0     1    5  80000
7     1     1    5  90000

In [4]:
data = pd.get_dummies(data, columns=['city', 'type'], drop_first=True)

In [5]:
x= data.drop('rent', axis=1)

y=data['rent']

In [6]:
x

   bhk  city_1  type_1
0    1       0       0
1    2       0       0
2    2       0       1
3    3       1       0
4    4       1       0
5    4       1       1
6    5       0       1
7    5       1       1

In [7]:
y

0    20000
1    30000
2    40000
3    50000
4    60000
5    70000
6    80000
7    90000
Name: rent, dtype: int64

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model =LinearRegression()

In [10]:
model.fit(x,y)

LinearRegression()

In [11]:
city =int(input("enter the city 0 or 1:"))
type_ =int(input("enter the type 0 or 1:"))
bhk =int(input("enter the bhk:"))

enter the city 0 or 1:0
enter the type 0 or 1:1
enter the bhk:3

In [12]:
user_input = pd.DataFrame({
    'city_1': [0],
    'type_1': [0],
    'bhk': [bhk]
})

In [13]:
user_input = user_input[x.columns]

In [14]:
predicted_rent = model.predict(user_input)[0]
print(f'Predicted Rent: {predicted_rent}')

Predicted Rent: 43846.153846153844